body{
	margin-left: 35%;
	width: 400px;
	height: 480px;
}

input {
	text-align: left;
	height: 21px;
	font-size: 20px;
	width: 170px;
}

.input2 {
	text-align: left;
	height: 21px;
	width: 390px;
	font-size: 20px;
	vertical-align: middle;
}

.input3 {
	text-align: left;
	height: 21px;
	width: 40px;
	font-size: 20px;
	vertical-align: middle;
}

.bblock {
	display: table-cell;
	font-size: 21px;
	width: 100px;
	height: 70px;
	text-align: left;
	vertical-align: middle;
}

.с_продажи {
	display: table-cell;
	font-size: 21px;
	width: 220px;
	height: 25px;
	text-align: left;
	vertical-align: middle;
}

.wrap {
	width: 400px;
	display: table;	
	font-size: 26px;
}

.wrap1 {
	width: 400px;
	display: table;
}

.wrap2 {
	width: 400px;
	display: table;
}

.bblock1 {
	display: table-cell;
	font-size: 21px;
	width: 170px;
	height: 25px;
	text-align: right;
	vertical-align: middle;
}

.bblock2 {
	display: table-cell;
	font-size: 21px;
	width: 400px;
	height: 25px;
	text-align: left;
	vertical-align: middle;
}

.space {
	width: 50px;
	height: 25px;
}