*{
	padding: 0; margin: 0;
}

p{
	font-size: 22px;
	margin-bottom: 5px;
}

.main{
	max-width: 800px;
	min-width: 200px;
	margin-right: 10px;
	margin-left: 10px;
}

input{
	font-size: 20px;
	height: 30px;
	width: 100%;
}
.checkbox{
	height: 25px;
	width: 5%;
	margin-top: 10px;
}

.block{
	background: #ecedee;
	border: 2px solid #999999;
	padding: 10px;
	margin: 10px;
}

.block-new{
	background: #ecedee;
	border-left: 2px solid #999999;
	border-right: 2px solid #999999;
	border-top: 2px solid #999999;
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.block-main{
	float: left;
	width: 100%;
}

.block-main-r{
	float: right;
	width: 100%;
	margin-bottom: 20px;
}

.block-main-r50{
	float: right;
	width: 50%;
	margin-bottom: 20px;
}

.block-r{
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	background: #ecedee;
	border: 2px solid #999999;
	text-align: right;
	vertical-align: middle;
}

.block-r-new{
	margin-right: 10px;
	margin-left: 10px;
	background: #ecedee;
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;
	text-align: right;
	vertical-align: middle;
	padding-bottom: 10px;
	padding-right: 10px;
}

.block-l{
	margin-left: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	text-align: left;
	vertical-align: middle;
	width: 100%;
	background: #ecedee;
	border-bottom: 2px solid #999999;
	border-left: 2px solid #999999;
}

.block-l-t{
	padding: 10px;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	background: #ecedee;
	border: 2px solid #999999;
	text-align: left;
	vertical-align: middle;
}